<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techno.googlyyy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".coord_information"></activity>
        <activity android:name=".coord_team_register" />
        <activity android:name=".coord_finished" />
        <activity android:name=".coord_upcoming" />
        <activity android:name=".coord_live" />
        <activity android:name=".coord_main_menu" />
        <activity android:name=".sumo_finished" />
        <activity android:name=".sumo_upcoming" />
        <activity android:name=".sumo_live" />
        <activity android:name=".sumo_menu" />
        <activity android:name=".lan_finished" />
        <activity android:name=".lan_upcoming" />
        <activity android:name=".lan_live" />
        <activity android:name=".lan_game_menu" />
        <activity android:name=".event_menu" />
        <activity android:name=".coordinator_login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>