<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techno.googlyyy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".coord_sumo.coord_upcoming_view_matches"></activity>
        <activity android:name=".coord_sumo.coord_registered_team" />
        <activity android:name=".coord_sumo.coord_information" />
        <activity android:name=".coord_sumo.coord_team_register" />
        <activity android:name=".coord_sumo.coord_finished" />
        <activity android:name=".coord_sumo.coord_upcoming" />
        <activity android:name=".coord_sumo.coord_live" />
        <activity android:name=".coord_sumo.coord_main_menu" />
        <activity android:name=".user_sumo.sumo_finished" />
        <activity android:name=".user_sumo.sumo_upcoming" />
        <activity android:name=".user_sumo.sumo_live" />
        <activity android:name=".user_sumo.sumo_menu" />
        <activity android:name=".user_lan.lan_finished" />
        <activity android:name=".user_lan.lan_upcoming" />
        <activity android:name=".user_lan.lan_live" />
        <activity android:name=".user_lan.lan_game_menu" />
        <activity android:name=".commons.event_menu" />
        <activity android:name=".commons.coordinator_login" />
        <activity android:name=".commons.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>